### Egypt Houses Price Data Cleaning

In [1]:
import numpy as np 
import pandas as pd

### 1- Import The Dataset

In [2]:
df = pd.read_csv('../Final_Prediction&Recommendation/Dataset/Egypt_Houses_Price.csv', sep = ',')

In [3]:
df.head()

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Compound,Payment_Option,Delivery_Date,Delivery_Term,City
0,Duplex,4000000,3.0,3.0,400.0,No,7,Unknown,Cash,Ready to move,Finished,Nasr City
1,Apartment,4000000,3.0,3.0,160.0,No,10+,Unknown,Cash,Ready to move,Finished,Camp Caesar
2,Apartment,2250000,3.0,2.0,165.0,No,1,Unknown,Cash,Ready to move,Finished,Smoha
3,Apartment,1900000,3.0,2.0,230.0,No,10,Unknown,Cash,Ready to move,Finished,Nasr City
4,Apartment,5800000,2.0,3.0,160.0,No,Ground,Eastown,Cash,Ready to move,Semi Finished,New Cairo - El Tagamoa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27361 entries, 0 to 27360
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            27361 non-null  object
 1   Price           27359 non-null  object
 2   Bedrooms        27158 non-null  object
 3   Bathrooms       27190 non-null  object
 4   Area            26890 non-null  object
 5   Furnished       27361 non-null  object
 6   Level           27361 non-null  object
 7   Compound        27361 non-null  object
 8   Payment_Option  27361 non-null  object
 9   Delivery_Date   27361 non-null  object
 10  Delivery_Term   27361 non-null  object
 11  City            27361 non-null  object
dtypes: object(12)
memory usage: 2.5+ MB

### 2- Dealing With Null And Duplicated Raws

In [5]:
df['Area'] = df['Area'].replace('Unknown', np.nan)
df['Bedrooms'] = df['Bedrooms'].replace('Unknown', np.nan)
df['Bathrooms'] = df['Bathrooms'].replace('Unknown', np.nan)
df['Price'] = df['Price'].replace('Unknown', np.nan)

In [6]:
df.isnull().sum()

Type                0
Price              39
Bedrooms          239
Bathrooms         207
Area              507
Furnished           0
Level               0
Compound            0
Payment_Option      0
Delivery_Date       0
Delivery_Term       0
City                0
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.duplicated().sum()

1550

In [9]:
df.drop_duplicates(inplace=True)

# Processing Data

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25143 entries, 0 to 27359
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            25143 non-null  object
 1   Price           25143 non-null  object
 2   Bedrooms        25143 non-null  object
 3   Bathrooms       25143 non-null  object
 4   Area            25143 non-null  object
 5   Furnished       25143 non-null  object
 6   Level           25143 non-null  object
 7   Compound        25143 non-null  object
 8   Payment_Option  25143 non-null  object
 9   Delivery_Date   25143 non-null  object
 10  Delivery_Term   25143 non-null  object
 11  City            25143 non-null  object
dtypes: object(12)
memory usage: 2.5+ MB

In [11]:
df['Bedrooms'] = df['Bedrooms'].replace('10+',11)
df['Bathrooms'] = df['Bathrooms'].replace('10+',11)

In [12]:
df['Bedrooms'] = df['Bedrooms'].astype(float).astype(int)
df['Bathrooms'] = df['Bathrooms'].astype(float).astype(int)
df['Area'] = df['Area'].astype(float).astype(int)
df['Price'] = df['Price'].astype(int)

In [13]:
print(df['Type'].unique())
print(df['Level'].unique())

['Duplex' 'Apartment' 'Penthouse' 'Studio' 'Chalet' 'Standalone Villa'
 'Twin house' 'Town House' 'Stand Alone Villa' 'Twin House']
['7' '10+' '1' '10' 'Ground' 'Highest' '3' '2' '4' '9' '5' '8' '6'
 'Unknown']

In [14]:
df=df.drop(df[(df['Level']=='Unknown')&(df['Type']=='Duplex')].index)
df=df.drop(df[(df['Level']=='Unknown')&(df['Type']=='Apartment')].index)
df=df.drop(df[(df['Level']=='Unknown')&(df['Type']=='Studio')].index)

In [15]:
df.loc[(df['Level']=='10+'),'Level'] = 11
df.loc[(df['Level']=='Highest'),'Level'] = 12
df.loc[(df['Level']=='Ground'),'Level'] = 0

In [16]:
df.loc[(df['Type']=='Penthouse')|
       (df['Type']=='Standalone Villa')|
       (df['Type']=='Town House')|
       (df['Type']=='Twin house')|(df['Type']=='Stand Alone Villa')|
       (df['Type']=='Chalet')|
       (df['Type']=='Twin House'),'Level'] = 0
df.loc[(df['Type']=='Penthouse'),'Level'] = 12

In [17]:
df['Level'] = df['Level'].astype(float).astype(int)

#  Furnished Column

In [18]:
df['Delivery_Date'].unique()

array(['Ready to move', '2024', 'Unknown', '2023', 'soon', '2025',
       'within 6 months', '2022', '2026', '2027'], dtype=object)

In [19]:
df[(df['Furnished']=='Unknown')&(df['Delivery_Date']!='Ready to move')&(df['Delivery_Date']!='Unknown')]

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Compound,Payment_Option,Delivery_Date,Delivery_Term,City
9,Apartment,992800,3,2,146,Unknown,3,Unknown,Cash or Installment,2024,Semi Finished,New Cairo - El Tagamoa
64,Apartment,1396000,3,3,179,Unknown,0,Unknown,Cash or Installment,2024,Semi Finished,6th of October
67,Apartment,1805000,2,2,105,Unknown,0,Kayan,Installment,2024,Semi Finished,Sheikh Zayed
76,Apartment,1526400,3,2,212,Unknown,2,Beit Al Watan,Installment,2023,Semi Finished,New Damietta
83,Apartment,1648000,3,3,160,Unknown,3,Midtown Condo,Cash or Installment,2023,Core & Shell,New Capital City
...,...,...,...,...,...,...,...,...,...,...,...,...
27242,Town House,7100000,5,4,285,Unknown,0,Lake West,Cash or Installment,soon,Semi Finished,Sheikh Zayed
27247,Town House,300000,4,4,220,Unknown,0,Mountain View 2,Cash or Installment,2025,Not Finished,New Cairo - El Tagamoa
27275,Twin House,4500000,3,2,200,Unknown,0,The Crown,Cash or Installment,soon,Semi Finished,Sheikh Zayed
27276,Twin House,4900000,4,3,317,Unknown,0,The Crown,Cash or Installment,soon,Unknown,Sheikh Zayed
27301,Town House,5800000,4,2,255,Unknown,0,Unknown,Unknown Payment,soon,Unknown,New Cairo - El Tagamoa

In [20]:
df.loc[(df['Furnished']=='Unknown')&(df['Delivery_Date']!='Ready to move')&(df['Delivery_Date']!='Unknown'),'Furnished'] = 'No'

In [21]:
df['Delivery_Term'].unique()

array(['Finished', 'Semi Finished', 'Core & Shell', 'Unknown ',
       'Not Finished'], dtype=object)

In [22]:
df.loc[(df['Furnished']=='Unknown')&(df['Delivery_Term']!='Finished')&(df['Delivery_Term']!='Unknown ')]

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Compound,Payment_Option,Delivery_Date,Delivery_Term,City
8,Apartment,1560000,3,3,200,Unknown,0,Unknown,Unknown Payment,Unknown,Semi Finished,New Cairo - El Tagamoa
19,Duplex,1100000,3,2,165,Unknown,0,Unknown,Installment,Unknown,Semi Finished,New Damietta
86,Apartment,1613800,3,3,182,Unknown,1,Unknown,Unknown Payment,Unknown,Semi Finished,New Cairo - El Tagamoa
95,Apartment,2520000,3,2,145,Unknown,1,The Address East,Unknown Payment,Unknown,Semi Finished,New Cairo - El Tagamoa
102,Apartment,370000,3,2,130,Unknown,3,Unknown,Cash or Installment,Ready to move,Not Finished,Dar al-Salaam
...,...,...,...,...,...,...,...,...,...,...,...,...
27300,Twin House,1268000,7,7,298,Unknown,0,Palm Hills New Cairo,Unknown Payment,Ready to move,Not Finished,New Cairo - El Tagamoa
27320,Stand Alone Villa,13500000,5,5,530,Unknown,0,Villette,Cash,Ready to move,Core & Shell,New Cairo - El Tagamoa
27327,Stand Alone Villa,3750000,3,2,400,Unknown,0,Unknown,Cash,Unknown,Core & Shell,Hurghada
27341,Town House,4000000,4,4,350,Unknown,0,Unknown,Cash or Installment,Unknown,Semi Finished,New Capital City
27355,Stand Alone Villa,4800000,4,3,165,Unknown,0,Unknown,Cash or Installment,Unknown,Semi Finished,New Cairo - El Tagamoa

In [23]:
df.loc[(df['Furnished']=='Unknown')&(df['Delivery_Term']!='Finished')&(df['Delivery_Term']!='Unknown '),'Furnished'] = 'No'

### Drop columns that have more than 30% of NANs

In [24]:
furnished = len(df[df['Furnished'] == 'Unknown']) / len(df)
level = len(df[df['Level'] == 'Unknown']) / len(df)
compound = len(df[df['Compound'] == 'Unknown']) / len(df)
Payment_Option = len(df[df['Payment_Option'] == 'Unknown']) / len(df)
Delivery_Date = len(df[df['Delivery_Date'] == 'Unknown']) / len(df)
Delivery_Term = len(df[df['Delivery_Term'] == 'Unknown ']) / len(df)
City = len(df[df['City'] == 'Unknown']) / len(df)

In [25]:
print('Furnished: ', furnished)
print('Level: ',level)
print('Compound: ',compound)
print('Payment_Option: ',Payment_Option)
print('Delivery_Date: ',Delivery_Date)
print('Delivery_Term: ',Delivery_Term)
print('City: ',City)

Furnished:  0.21194743130227
Level:  0.0
Compound:  0.4048984468339307
Payment_Option:  0.0
Delivery_Date:  0.3637594583831143
Delivery_Term:  0.17459179609717243
City:  0.0

In [26]:
df = df.drop('Compound',1)
df = df.drop('Delivery_Date',1)

C:\Users\Alaa El - Masry\AppData\Local\Temp\ipykernel_22444\2522992528.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Compound',1)
C:\Users\Alaa El - Masry\AppData\Local\Temp\ipykernel_22444\2522992528.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Delivery_Date',1)

In [27]:
df.head()

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Payment_Option,Delivery_Term,City
0,Duplex,4000000,3,3,400,No,7,Cash,Finished,Nasr City
1,Apartment,4000000,3,3,160,No,11,Cash,Finished,Camp Caesar
2,Apartment,2250000,3,2,165,No,1,Cash,Finished,Smoha
3,Apartment,1900000,3,2,230,No,10,Cash,Finished,Nasr City
4,Apartment,5800000,2,3,160,No,0,Cash,Semi Finished,New Cairo - El Tagamoa

In [28]:
df['Furnished'] = df['Furnished'].replace('Unknown', np.nan)
df['Delivery_Term'] = df['Delivery_Term'].replace('Unknown ', np.nan)
df.dropna(inplace=True)

In [29]:
df.reset_index(inplace=True)
df.drop(['index'],axis=1,inplace=True)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17624 entries, 0 to 17623
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            17624 non-null  object
 1   Price           17624 non-null  int32
 2   Bedrooms        17624 non-null  int32
 3   Bathrooms       17624 non-null  int32
 4   Area            17624 non-null  int32
 5   Furnished       17624 non-null  object
 6   Level           17624 non-null  int32
 7   Payment_Option  17624 non-null  object
 8   Delivery_Term   17624 non-null  object
 9   City            17624 non-null  object
dtypes: int32(5), object(5)
memory usage: 1.0+ MB

In [31]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Price,17624.0,4.737109e+06,5.755835e+06,30000.0,1399000.0,3000000.0,6063862.25,205000000.0
Bedrooms,17624.0,3.249376e+00,1.160085e+00,1.0,3.0,3.0,4.00,11.0
Bathrooms,17624.0,2.835111e+00,1.319538e+00,1.0,2.0,3.0,4.00,11.0
Area,17624.0,2.345296e+02,1.626049e+02,10.0,125.0,180.0,280.00,995.0
Level,17624.0,1.274455e+00,2.574008e+00,0.0,0.0,0.0,2.00,12.0

In [32]:
df.describe(include='O').T

                count unique                     top   freq
Type            17624     10               Apartment   5941
Furnished       17624      2                      No  15756
Payment_Option  17624      4                    Cash   7011
Delivery_Term   17624      4                Finished  10049
City            17624    171  New Cairo - El Tagamoa   4265

#  Type Column

In [33]:
df['Type'].unique()

array(['Duplex', 'Apartment', 'Penthouse', 'Studio', 'Chalet',
       'Standalone Villa', 'Twin house', 'Town House',
       'Stand Alone Villa', 'Twin House'], dtype=object)

In [34]:
df['Type'].value_counts()

Apartment            5941
Chalet               3837
Stand Alone Villa    2781
Town House           1990
Twin House           1265
Duplex                603
Penthouse             376
Standalone Villa      362
Twin house            323
Studio                146
Name: Type, dtype: int64

In [35]:
df.loc[(df['Type']=='Standalone Villa'),'Type'] = 'Stand Alone Villa'
df.loc[(df['Type']=='Twin house'),'Type'] = 'Twin House'

In [36]:
df['Type'].value_counts()

Apartment            5941
Chalet               3837
Stand Alone Villa    3143
Town House           1990
Twin House           1588
Duplex                603
Penthouse             376
Studio                146
Name: Type, dtype: int64

#  City Column

#### Deleting Location_City that have less than 5 rows

In [37]:
pd.set_option('display.max_rows', 500)
df['City'].value_counts(ascending=True)

Abu Rawash                      1
Zawya al-Hamra                  1
El Max                          1
Saft El Laban                   1
Attarin                         1
Khanka                          1
Zohour District                 1
Hadayek Helwan                  1
Ard El Lewa                     1
Quesna                          1
Banha                           1
New Beni Suef                   1
Darb al-Ahmar                   1
Qasr al-Nil                     1
Tura                            1
Shatby                          1
Ramses + Ramses Extension       1
Attaka                          1
El Fostat                       1
Minya City                      1
Kafr Shukr                      1
Bella                           1
Safaga                          1
Gomrok                          1
Ataba                           1
Aga                             1
Schutz                          1
Dhahria                         1
Sadat                           1
Talkha                          1
Markaz al-Giza                  1
Mit Ghamr                       1
Khosous                         1
Manzala                         1
Markaz Sohag                    2
Aswan City                      2
Al Amiriyyah                    2
Boulaq                          2
Arab District                   2
Qalyub                          2
Warraq                          2
Arbaeen                         2
Port Fouad                      2
Raml Station                    2
Faisal District                 2
Dawahy District                 2
Suez District                   2
Victoria                        2
Kabbary                         2
Dar al-Salaam                   2
Kafr al-Sheikh City             2
Abu Qir                         2
New Minya                       2
Bacchus                         2
Fayed                           3
Shebin al-Koum                  3
Boulaq Dakrour                  3
Matareya                        3
Sporting                        3
Manshiyya                       3
Montazah                        3
Al Hadrah                       3
Rod al-Farag                    3
Garden City                     3
Masr al-Kadema                  4
Mahalla al-Kobra                4
Manakh District                 4
Sayeda Zeinab                   4
Fleming                         4
Tersa                           4
Ezbet El Nakhl                  4
Downtown Cairo                  4
Ganoub District                 4
Damietta City                   4
Damanhour                       4
Cleopatra                       4
Bahray - Anfoshy                5
Sidi Gaber                      5
Abasiya                         5
Helwan                          5
Gamasa                          5
Maryotaya                       5
Beni Suef City                  5
Salam City                      5
Sahl Hasheesh                   6
San Stefano                     6
Gianaclis                       6
Camp Caesar                     6
Maamoura                        6
Agouza                          6
Azarita                         6
Imbaba                          6
Roushdy                         7
Stanley                         7
Shubra al-Khaimah               7
Sharq District                  7
Al Manial                       7
Al Ibrahimiyyah                 8
Bolkly                          8
Ras al-Bar                      8
Abu Talat                       8
Zezenia                         8
Hammam                          8
Zagazig                         9
Amreya                          9
Zamalek                        10
15 May City                    10
Giza District                  10
Almazah                        10
Shubra                         10
Hadayek al-Kobba               12
Dabaa                          13
Saba Pasha                     13
Ain Shams                      13
Tanta                          13
West Somid                     14
Helmeyat El Zaytoun            14
Glim                           14
Asyut City                     14
Ismailia City                  14
Asafra                         15
New Damietta                   16
Mandara                        17
Gesr Al Suez                   17
Kafr Abdo                      17
Seyouf                         18
Dokki                          19
10th of Ramadan                19
Gouna                          20
New Mansoura                   21
New Nozha                      21
Sharm al-Sheikh                21
Moharam Bik                    22
Laurent                        22
Sheraton                       27
Miami                          27
(View phone number)            28
Mohandessin                    29
Marsa Matrouh                  34
Faisal                         34
Sidi Beshr                     34
Katameya                       37
Mansura                        47
Haram                          48
New Heliopolis                 54
Agami                          59
Badr City                      71
Heliopolis                     74
Hadayek al-Ahram               76
Zahraa Al Maadi                84
Maadi                          86
Hurghada                       87
Smoha                          92
Nakheel                        96
Borg al-Arab                   98
Hadayek 6th of October        124
Mostakbal City                126
Obour City                    132
Ras Sedr                      145
Alamein                       154
Mokattam                      157
Nasr City                     259
Shorouk City                  506
New Capital City              514
Rehab City                    527
Ain Sukhna                   1023
Madinaty                     1132
6th of October               1260
Sheikh Zayed                 1609
North Coast                  3679
New Cairo - El Tagamoa       4265
Name: City, dtype: int64

In [38]:
ind = df['City'].value_counts(dropna=False).keys().tolist()
val = df['City'].value_counts(dropna=False).tolist()
value_dict = list(zip(ind, val))

In [39]:
lc_sm = []
y = 'Less'
for val,ind in value_dict:
    if ind <= 5:
        lc_sm.append(val)
    else :
        pass
def lcdlt(x):
    if x in lc_sm:
        return y
    else :
        return x

In [40]:
df['City'] = df['City'].apply(lcdlt)

In [41]:
df=df.drop(df[(df['City']=='Less')].index)

In [42]:
lcc = df['City'].value_counts().keys().tolist()

In [43]:
for x in lcc:
    Q1= df[(df['City']==x)]['Price'].quantile(0.25)
    Q3= df[(df['City']==x)]['Price'].quantile(0.75)
    IQR = Q3 - Q1
    upper_bound = Q3 + 1.2 * IQR
    lower_bound = Q1 - 1.2 * IQR
    df=df.drop(df[(df['City']==x)&(df['Price']>=upper_bound)].index)
    df=df.drop(df[(df['City']==x)&(df['Price']<=lower_bound)].index)

In [44]:
df['City'].unique()

array(['Camp Caesar', 'Smoha', 'Nasr City', 'New Cairo - El Tagamoa',
       'Sheikh Zayed', 'Shorouk City', 'Sidi Beshr', 'Gesr Al Suez',
       'Mokattam', 'New Capital City', 'New Damietta', 'Zahraa Al Maadi',
       '6th of October', 'Mansura', 'New Heliopolis', 'Badr City',
       'Imbaba', 'Mohandessin', 'Glim', 'Ain Sukhna', 'Maadi',
       'Hadayek 6th of October', 'Haram', 'Madinaty', '10th of Ramadan',
       'Heliopolis', 'Rehab City', 'North Coast', 'Nakheel',
       'Hadayek al-Ahram', 'Obour City', 'Hurghada', 'Agouza', 'Mandara',
       'Helmeyat El Zaytoun', 'Katameya', 'Alamein', 'Miami',
       'Hadayek al-Kobba', 'Mostakbal City', 'Agami', 'Ras al-Bar',
       'Bolkly', '15 May City', 'Seyouf', 'Sharq District',
       'Ismailia City', 'Ain Shams', 'Shubra al-Khaimah',
       'Al Ibrahimiyyah', 'New Nozha', 'Laurent', 'New Mansoura', 'Dokki',
       'Sheraton', 'Faisal', 'Moharam Bik', 'Al Manial', 'Sahl Hasheesh',
       'West Somid', 'Asafra', 'Gouna', 'Zamalek', 'Zagazig', 'Shubra',
       'Marsa Matrouh', 'Giza District', 'Gianaclis', 'San Stefano',
       'Saba Pasha', 'Kafr Abdo', 'Azarita', 'Zezenia', 'Maamoura',
       'Almazah', 'Asyut City', 'Tanta', 'Stanley', 'Roushdy', 'Amreya',
       'Abu Talat', 'Sharm al-Sheikh', 'Hammam', 'Ras Sedr', 'Dabaa',
       'Borg al-Arab', '(View phone number)'], dtype=object)

In [45]:
df=df.drop(df[df['City']=='(View phone number)'].index)

In [46]:
df.reset_index(inplace=True)
df.drop(['index'],axis=1,inplace=True)

# * Area Column

In [47]:
df['Area'].describe()

count    16095.000000
mean       216.157999
std        140.672771
min         10.000000
25%        125.000000
50%        175.000000
75%        260.000000
max        990.000000
Name: Area, dtype: float64

In [48]:

df=df.drop(df[(df['Area']<=100)&(df['Bedrooms']>=4)].index)
df=df.drop(df[(df['Area']<=30)&(df['Type']!='Studio')].index)

In [49]:
df[(df['Area']>=300)&(df['Price']<=2000000)&(df['Payment_Option']=='Cash')&(df['Delivery_Term']=='Finished')]
df=df.drop(df[(df['Area']>=300)&(df['Price']<=2000000)&(df['Payment_Option']=='Cash')&(df['Delivery_Term']=='Finished')].index)

#  Payment_Option Column

In [50]:
def Price_range(x) :
    if x <= 1000000 : 
        return 'Low Price'
    elif x <= 3000000 :
        return 'Mid Price'
    else :
        return 'high Price'

In [51]:
df['Price_range'] = df['Price'].apply(Price_range)

In [52]:
df.groupby('Price_range')['Payment_Option'].value_counts()

Price_range  Payment_Option
Low Price    Cash or Installment    1842
             Cash                    858
             Installment             368
             Unknown Payment         120
Mid Price    Cash or Installment    2118
             Cash                   2005
             Installment            1093
             Unknown Payment         316
high Price   Cash                   3178
             Cash or Installment    2249
             Installment            1386
             Unknown Payment         525
Name: Payment_Option, dtype: int64

In [53]:
New_df = df.to_csv('./Dataset/Egyption.csv', index=False)